<div class="panel panel-default">
  <div class="panel-heading">Dados do Centro de Custo</div>
  <div class="panel-body">
		<p>
		  <strong>Nome:</strong>
		  <%= @cost_center.nome %>
		</p>
  </div>

</div>

<div class="form-group">
  <%= link_to 'Editar', edit_cost_center_path(@cost_center), class: "btn btn-primary"  %> 
  <%= link_to 'Voltar', cost_centers_path, class: "btn btn-default" %>
  <%= link_to 'Novo ', new_cost_center_path, class: "btn btn-success" %>
</div>